body {
  background-color: black;
}

.logo {
  margin: auto;
  width: 50%;
  padding-top: 125px;
}

.logo img {
  margin: auto;
  display: block;
}

.message {
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  width: 100%;
  margin: auto;
  position: absolute;
  font-size: 12px;
  padding-top: 30px;
}

.message p {
   text-align: center;
   margin: auto;
   width: 400px;
}

.slogan {
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  font-size: 25px;
  margin: 0px;
}

.stamp {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 8px;
  padding: 5px;
}

.footer {
  background-color: black;
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
